.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    background-color: $color-white;
    box-shadow: 0 2px 6px rgba($color-black, .2);

    .nav {
        text-align: center;
        list-style: none;
    
        &-item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: .2rem;
            }

            a:link,
            a:visited {
                color: $color-black;
            }

            &.current {
                border-bottom: solid .3rem $color-primary;

                .link-container .icon {
                    color: $color-primary;
                }
            }

            .link-container {
                display: block;
                border-radius: .5rem;
                padding: 1.5rem 3.5rem;
                margin-top: .3rem;
                background-color: $color-white;

                &:hover {
                    background-color: $color-gray-light-2;
                    transition: background-color .3s ease-in;
                }
    
                .icon {
                    font-size: 2rem;
                }    
            }            
        }
    }

    .dropdown {
        .filter-btn {
            display: block;
            color: $color-white;
            background-color: $color-tertiary;
    
            &:hover,
            &:focus {
                transform: translateY(-.5rem);
            }
    
            &:active {
                transform: translateY(0);
                box-shadow: 0 1px 2px rgba($color-black, .3);
            }
        }    
    }
}