.search-group {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 6000;

    &__form {
        &__input {
            z-index: 10;
            height: 4rem;
            width: 40rem;
            font-family: inherit;
            font-size: 1.6rem;
            background-color: $color-gray-light-1;
            padding: 1rem 2rem;
            border: none;
            border-radius: 1rem;
            transition: all 0.3s;

            &:focus {
                box-shadow: 0 -1rem 4rem rgba($color-black, .4);
                transform: scale(1.05);
                background-color: $color-white;
            }
        }
    }

    .search-results {
        z-index: 10;
        position: absolute;
        top: 6rem;
    }
}