// COLORS
$color-background: #eceee6;

$color-primary: #e8a83f;
$color-primary-light: #da9c36;

$color-secondary: #735641;
$color-secondary-light: #977359;
$color-secondary-dark: #4e3a2c;

$color-tertiary: #242324;
$color-tertiary-light: #6d7675;

$color-nsfw: #ff5151;
$color-admin: #ff0011;
$color-moderator: #008039;

$color-black: #000;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;